@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

:root {
  --primary-color: #fc4c02;
  --secondary-color: #f7fff7;
  --text-color: #2c2c2c;
  --bg-color: #ffffff;
  --accent-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font: 400 1em/1.6 "Raleway", sans-serif;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

body.modal-open {
  overflow: hidden;
}

p {
  margin-bottom: 1em;
}

header {
  background: var(--primary-color)
    url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.25'%3E%3Ccircle cx='3' cy='3' r='1'/%3E%3Ccircle cx='13' cy='13' r='1'/%3E%3C/g%3E%3C/svg%3E");
  color: var(--secondary-color);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo a,
nav ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.logo a:hover,
nav ul li a:hover {
  color: var(--accent-color);
}

.logo a {
  font: 700 1.4rem/1 "Raleway", sans-serif;
  letter-spacing: 0.5px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  font: 600 0.9rem/1 "Raleway", sans-serif;
}

main {
  flex: 1;
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
}

#route-name {
  font: 600 0.9rem/1 sans-serif;
  color: var(--secondary-color);
  text-align: center;
  flex: 1;
  margin: 0 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-55%);
  white-space: nowrap;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--bg-color);
  width: 80%;
  max-width: 600px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 90vh;
}

.modal-header {
  background-color: var(--primary-color);
  color: white;
  padding: 3px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.3rem;
}

.modal-body {
  padding: 20px;
  overflow-y: auto;
  max-height: calc(90vh - 50px); /* Adjust based on header/footer height */
}

.close {
  color: white;
  font: bold 36px/1 Arial, sans-serif;
  cursor: pointer;
}

#flourish-embed {
  width: 100%;
  height: 400px;
}

@media (max-width: 768px) {
  .modal-content {
    width: 95%;
  }

  .logo a {
    font-size: 0.9rem;
  }

  header {
    padding: 0.3rem 0.8rem;
  }

  nav ul li {
    margin-left: 10px;
  }

  nav ul li a {
    font-size: 0.8rem;
  }
}
