@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

:root {
  --primary-color: #fc4c02;
  --secondary-color: #f7fff7;
  --text-color: #2c2c2c;
  --bg-color: #ffffff;
  --accent-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.6;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  background-color: var(--accent-color);
}

body.modal-open {
  overflow: hidden;
}

.header-container {
  display: flex;
  align-items: center;
  background: var(--primary-color)
    url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.25'%3E%3Ccircle cx='3' cy='3' r='1'/%3E%3Ccircle cx='13' cy='13' r='1'/%3E%3C/g%3E%3C/svg%3E");
  color: var(--secondary-color);
  padding: 2px 12px;
}

.logo,
.about-link {
  flex-basis: 38%; /* Takes 35% of the header width */
}

#route-name {
  flex-basis: 24%; /* Takes 30% of the header width */
  text-align: center;
  font-weight: 600;
  color: var(--secondary-color);
}

.logo a,
.about-link a {
  font-family: "Raleway";
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.logo a {
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
}

.about-link {
  text-align: right; /* Right-aligns the About link within its 30% container */
  font-weight: 600;
  font-size: 0.9rem;
}

.logo a:hover,
.about-link a:hover {
  color: var(--accent-color);
}

main {
  flex: 1;
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-content {
  background-color: var(--bg-color);
  width: 80%;
  max-width: 600px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 90vh;
}

.modal-header {
  background-color: var(--primary-color);
  color: white;
  padding: 2px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.3rem;
}

.modal-body {
  padding: 12px;
  overflow-y: auto;
  max-height: calc(90vh - 50px);
  font-family: "Raleway";
  font-size: 1rem;
}

.modal-body p {
  margin-bottom: 0.8em;
}

.close {
  color: white;
  font: bold 36px/1 Arial, sans-serif;
  cursor: pointer;
}

#flourish-embed {
  .flourish-embed {
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .header-container {
    padding: 2px 5px;
  }

  .logo a {
    font-size: 0.9rem;
  }

  .about-link a {
    font-size: 0.8rem;
  }

  #route-name {
    font-size: 0.8rem;
  }
  .modal-body {
    font-size: 0.8rem;
  }

  .modal-content {
    width: 95%;
  }
}

/* Debug outlines */
/*
* {
  outline: 1px solid red;
}
*/